*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 #LoginContainer {
    box-shadow: 10px 10px 10px 2px rgb(173, 173, 173);
    padding: 20px;
    width: 290px;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 1px;
}
#LoginContainer>*{
    text-align: center;
}

input[type=button]{
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input[type=button]:hover{
    cursor: pointer;
}

.snakeGameCanvas{
    background-color: #111010;
}
div{
    text-align:  center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.score, .levelParag, .PlayerNameParag{
    display: inline;
    margin: 10px auto;
}
#ulTopScores{
    margin: 5px auto;
    font-size: 26px;
    border: 1px solid steelblue;
    background-color: steelblue;
}
#tableLogin tr>*{
    font-size: 20px;
    padding-bottom: 15px;
}
input[type=text] {
    width: 130%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}
#ulTopScores td, #ulTopScores th{
    border: 1px solid steelblue;
    padding: 3px;
    background-color: white;
    border-radius: 25%;
}
.TopScores{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#topScoresDisplay{
    display: none;
}